<!DOCTYPE html>
<html>
<head>
    <title>Produit</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    {% block body %}
        <div class="container mt-5">
            <h1>Produit</h1>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Détails du Produit</h5>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ produit.id }}</td>
                            </tr>
                            <tr>
                                <th>Nom</th>
                                <td>{{ produit.nom }}</td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td>{{ produit.description }}</td>
                            </tr>
                            <tr>
                                <th>Quantite</th>
                                <td>{{ produit.quantite }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="mt-3">
                <a href="{{ path('app_produit_index') }}" class="btn btn-secondary">Back to list</a>
                <a href="{{ path('app_produit_edit', {'id': produit.id}) }}" class="btn btn-primary">Edit</a>
                {{ include('produit/_delete_form.html.twig') }}
            </div>
        </div>
    {% endblock %}
</body>
</html>