<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorie Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        {% block body %}
            <h1 class="my-4">Categorie Details</h1>

            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row">ID</th>
                        <td>{{ categorie.id }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Nom</th>
                        <td>{{ categorie.nom }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Description</th>
                        <td>{{ categorie.description }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="mt-4">
                <a href="{{ path('app_categorie_index') }}" class="btn btn-secondary">Back to List</a>
                <a href="{{ path('app_categorie_edit', {'id': categorie.id}) }}" class="btn btn-warning">Edit</a>
                {{ include('categorie/_delete_form.html.twig') }}
            </div>
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>